body{
    background-image: url('https://images.pexels.com/photos/351265/pexels-photo-351265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') !important;
    background-size: cover !important;
}
h1 {
    color: #fff;
    text-align: center !important;
}

navbar{
    background-color: #092365;
    text-align: center !important;
}
.nav-title{
    font-size: 20px !important;
    padding: 10px;
}
.navbar{
    display: block !important;
}

video{
    width: 100%;
    opacity: 0.6; 
}

.container{
    background-color: #0A2E36 !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.container-bdr{
    border:4px solid #14CC60;
    opacity: 0.9;
    border-radius: 30px;
    margin-top:10px;
    margin-bottom:10px;  
}
a{
    border: 2px solid #092365 !important;
    margin-left: 10px !important;
    color:black !important;
    font-weight: bold;
    margin-bottom: 10px;
    
}
p{
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

a{
    border:3px solid #4c6bbb !important;
    border-radius: 30px !important;
    color:white !important;
    background-color: #192f66 !important;
    text-align: center !important;
}

.nav-title{
    text-decoration:none;
}

label{
    color:white;
    font-weight:bold;
}

.selected{
    border:3px solid #27FB6B !important;
    border-radius: 30px !important;
    color:white !important;
    background-color: #036D19 !important;
    text-align: center !important;
    
}
.selected:hover{
    background-color: #09A129 !important;
}

#btn_submit{
    border-radius: 30px;
    

}